@media screen and (max-width: 768px) {
body {
	font: normal 1em Helvetica, "Arial Nova", Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	}
#page {
	width: 100%;
	max-width: 100%;
	min-width: 320px;
	padding: 0;
	margin: 0;
	text-align: left;
	}
.innercolumn {
	padding: 40px;
	margin: 0;
	}
#logo span {
	display: none;
	}
#logo {
	width: 95px;
	height: 35px;
	background-image: url(../assets/logo_color.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	float:left;
	margin: 0;
	padding: 0;
	}
#socials {
	float: right;
	width: 50%;
	text-align: right;
	}
#socials span {
	display: none;
	}
#socials a#twitter:link, #socials a#twitter:visited {
	width: 32px;
	height: 32px;
	background-image: url(../assets/twitter.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	margin-right: 10px
	}
#socials a#twitter:hover, #socials a#twitter:active {
	background-image: url(../assets/twitter.png);
	background-position: 0 100%;
	}
#socials a#instagram:link, #socials a#instagram:visited {
	width: 32px;
	height: 32px;
	background-image: url(../assets/instagram.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	}
#socials a#instagram:hover, #socials a#instagram:active {
	background-image: url(../assets/instagram.png);
	background-position: 0 100%;
	}
.clear {
	clear: both;
	}
img {
	border: 0;
	width: auto;
	max-width: 100%;
	height: auto;
	}
figure {
	padding: 0;
	margin: 0;
	}
.intro {
	background-image: url(../assets/rf_movie_01.gif);
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	}
.intro_image {
	margin-left: 40px;
	max-width: calc(100% - 80px);
	}
#enter_link a span {
	display: none;
	}
#enter_link a:link, #enter_link a:visited {
	width: 37px;
	height: 21px;
	background-image: url(../assets/enter.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 40px;
	}
#enter_link a:hover, #enter_link a:active {
	background-image: url(../assets/enter.png);
	background-position: 0 100%;
	}
}


/*@media screen and (min-width: 769px) {*/
body {
	font: normal 1em Helvetica, "Arial Nova", Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	}
#page {
	width: 800px;
	max-width: 100%;
	min-width: 320px;
	padding: 0;
	margin: 0;
	text-align: left;
	}
.innercolumn {
	padding: 40px;
	margin: 0;
	}
#logo span {
	display: none;
	}
#logo {
	width: 95px;
	height: 35px;
	background-image: url(../assets/logo_color.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	float:left;
	margin: 0;
	padding: 0;
	}
#socials {
	float: right;
	width: 50%;
	text-align: right;
	}
#socials span {
	display: none;
	}
#socials a#twitter:link, #socials a#twitter:visited {
	width: 32px;
	height: 32px;
	background-image: url(../assets/twitter.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	margin-right: 10px
	}
#socials a#twitter:hover, #socials a#twitter:active {
	background-image: url(../assets/twitter.png);
	background-position: 0 100%;
	}
#socials a#instagram:link, #socials a#instagram:visited {
	width: 32px;
	height: 32px;
	background-image: url(../assets/instagram.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	}
#socials a#instagram:hover, #socials a#instagram:active {
	background-image: url(../assets/instagram.png);
	background-position: 0 100%;
	}
.clear {
	clear: both;
	}
img {
	border: 0;
	width: auto;
	max-width: 100%;
	height: auto;
	}
figure {
	padding: 0;
	margin: 0;
	}
.intro {
	background-image: url(../assets/rf_movie_01.gif);
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	}
.intro_image {
	margin-left: 40px;
	max-width: calc(100% - 80px);
	}
#enter_link a span {
	display: none;
	}
#enter_link a:link, #enter_link a:visited {
	width: 37px;
	height: 21px;
	background-image: url(../assets/enter.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 40px;
	}
#enter_link a:hover, #enter_link a:active {
	background-image: url(../assets/enter.png);
	background-position: 0 100%;
	}
#footer {
	width: calc(100% - 80px);
	background: #EFEFEF;
	margin: 0;
	padding: 20px 40px;
	margin-top: 18px;
	font-size: 70%;
	}
#footer .innercolumn {
	padding: 0 40px;
	}
p {
	margin: 0;
	padding: 0;
	line-height: 140%;
	}
#made_with {
	margin-top: 20px;
	}
#made_with figure {
	display: inline-block;
	padding: 0 0 8px;
	margin: 0;
	vertical-align: top;
	}
#made_with figure img {
	width: 95%;
	height: auto;
	}
/*}*/